*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #ffffff;
    max-height: 100%;
    height: 100px;
}
.navbar{
   background-color: white;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: solid rgb(213, 206, 206);
    border-radius: 5%;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(20px);
  
}
.logo{
    width: 10%;

}

.logo img {
    max-width: 50%;
}



ul{
list-style: none;
display: flex;
justify-content: flex-end;

}



ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}


.btn{
    text-decoration: none;

}
.btn a{
 color:rgb(255, 255, 255);
text-decoration: none;
    border: 1px solid rgb(0, 255, 76);
    background-color: rgb(0, 255, 76);
    padding: 10px;
    border-radius: 25%;
 }

.wrapper{
        text-align: center;
        font-size: 35px;
        
    }
    .paragraph{
        text-align: center;
        font-size:18px;
    }
    .spn{
    color: brown;
    }
.button{
    display: inline-block;
    color:rgb(35, 33, 33);
    text-decoration: none;
        border: 1px solid rgb(35, 33, 33);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5%;
}  
.button2{
    margin-top: 50px;
    display: inline-block;
    color:rgb(255, 255, 255);
    text-decoration: none;
        border: 1px solid rgb(0, 51, 255);
        background-color: rgb(0, 51, 255);
        padding: 10px;
        border-radius: 5%;}
.icons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid gray;
    padding-right: 50px;
    gap: 20px;
}
.icon1{
    border-right: 1px solid gray;
}
.icon2{
    border-right: 1px solid gray;
}
.icon3{
    border-right: 1px solid gray;
}
.icon4{
    border-right: 1px solid gray;
}
.icon5{
    border-right: 1px solid gray;
}
.icon6{
    border-right: 1px solid gray;
}
.icon7{
    border-right: 1px solid gray;
}
.icon8{
    border-right: 1px solid gray;
}
.icon9{
    border-right: 1px solid gray;
}
.icon10{
    border-right: 1px solid gray;
}
.icon11{
    border-right: 1px solid gray;
}
.icon12{
    border-right: 1px solid gray;
}
.icon13{
    border-right: 1px solid gray;
}
.icon14{
    border-right: 1px solid gray;
}
.title2{
    margin-top: 100px;
}
.paragraph2{
    margin-top: 15px;
    font-size: medium;
    font-weight: 50;
}